* {
    box-sizing: border-box;
}

.container {
    position: relative;
}

/* LISTAGEM DE QUIZZES */

.tituloPagina {
    height: 69px;
    width: 100%;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 999;
}

h1 {
    font: normal bold 37px Roboto;
    line-height: 43px;
    
    color: #FFFFFF;     
}

.principal {
    margin: 77px auto;
    padding: 77px 195px;
    position: absolute;
    background-color: #FAFAFA;
}

.seusQuizzes {
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;

    height: 181px;
    margin: 0 auto 77px;
}

.semQuizz {
    font: normal 20px Roboto;
    line-height: 23px;
    text-align: center;

    color: #B9B9B9;

    width: 250px;
    height: 107px;
    margin: 0 auto;
    padding: 35px 20px;
}

.criarQuizz {
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 151px;
    height: 40px;
    margin: 0 auto;
}

.criarQuizz span {
    font: normal normal 21px Roboto;
    
    line-height: 25px;
    
    color: #EC362D;
}

.tituloTodosQuizzes {
    font: normal bold 20px Roboto;

    line-height: 23px;
    margin-bottom: 12px;
    margin-top: 77px;

    color: #000000;
}

span.listaDeQuizzes {
    font: normal 19px Roboto;
    line-height: 22px;
    color: #FFFFFF;
}

.todosOsQuizzes {
    margin-top: 12px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    padding: 17px;

    display: flex;
    align-items: flex-end;
    position: relative;
    
    cursor: pointer;

    background-size: cover;
}

.quizz img {
    width: 340px;
    height: 181px;
    border-radius: 5px;

    z-index: 0;
}

/*  QUIZZ INDIVIDUAL */

.quizzIndividual {
    position: absolute;
    z-index: 1;
    width: 100%;

    background-color: #E5E5E5;
}

.banner {
    width: 100%;
    height: 100%;
    margin-bottom: 42px;
    padding-top: 69px;
}

.bannerQuizz {
    height: 227px;
    background-size: cover;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.tituloQuizz {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 46px;

    color: #FFFFFF;
}

.perguntas {
    width: 759px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 42px;
}

.pergunta {
    height: 676px;
    padding: 34px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.tituloPergunta {
    width: 688px;
    height: 138px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enunciado {
    font: normal bold 23px Roboto;
    
    line-height: 27px;

    color: #FFFFFF;
}

.respostas-0, .respostas-1, .respostas-2, .respostas-3, .respostas-4, .respostas-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
}

.resposta img {
    width: 320px;
    height: 174px;
    padding: 10px 0;
}

.resposta {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-bottom: 18px;

    cursor: pointer;
}

.resposta span {
    font: normal bold 20px Roboto;
    line-height: 23px;

    color: #000000;
}

.escondido {
    display: none;
}

@media (max-width: 1110px) {
   .tituloPagina {
        width: 100%;
    }

    .principal {
        padding: 3%;
        margin-top: 20px;
    }

    .seusQuizzes {
        margin-bottom: 35px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .semQuizz {
        margin: 0;
        padding-top: 10px;
    }

    .criarQuizz {
        width: 151px;
        height: 40px;
        margin: 0;
    }

    .tituloTodosQuizzes {
        font-size: 20px;
    }

    .todosOsQuizzes {
        margin-top: 8px;
    }

    .quizz {
        width: 100%;
    }

    .quizz img {
        width: 100%;
    }
}